@model VdoValley.Core.Models.AutoImportedVideo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AutoImportedVideo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsShared)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsShared)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AutoImportedVideoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
