@using VdoValley.Core.Models
@model IEnumerable<AutoImportedVideo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThumbnailURL)
        </th>
        <th>
            @Html.DisplayName("Category")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            <a href="http://vdovalley.com/Videos/Details/@item.VideoId" target="_blank"><img src="@item.ThumbnailURL" style="width: 150px;"></a>
        </td>
        <td class="SelectedCategoryContainer">
            <select class="SelectedCategory" name="SelectedCategory">
                <option value="">-Select Category-</option>
                <option value="1">General Category</option>
                <option value="12">Funny Videos</option>
                <option value="13">Politics</option>
                <option value="14">Sports</option>
                <option value="15">Fashion &amp; Designing</option>
                <option value="16">Talk Show</option>
                <option value="17">News</option>
                <option value="18">TV Program</option>
            </select>
        </td>
        <td id="ShareFormContainer">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "ShareForm" }))
            {
                @Html.HiddenFor(model => item.AutoImportedVideoId)
                @Html.HiddenFor(model => item.Title)
                @Html.HiddenFor(model => item.URL)
                @Html.HiddenFor(model => item.EmbedId)
                @Html.HiddenFor(model => item.VideoId)
                @Html.HiddenFor(model => item.Description)
                @Html.HiddenFor(model => item.ThumbnailURL)
                @Html.HiddenFor(model => item.IsShared)
                <input type="submit" value="Share" disabled />
                <img class="AjaxLoader" src="" style="width:20px;" />
            }
        </td>
    </tr>
}

</table>
<script>
    $(function() {
        $(".SelectedCategory").on("change", function () {
            console.log("selectedcategory changed");
            $(this).parents("td").siblings("#ShareFormContainer").find("input[type=submit]").attr("disabled", false);
        });

        $(".ShareForm").submit(function () {
            var Form = $(this);
            Form.find(".AjaxLoader").attr("src", "/images/ajax-loader.gif");
            Form.find(".AjaxLoader").hide();
            var SelectedCategoryId = Form.parents("td").siblings(".SelectedCategoryContainer").find(".SelectedCategory").val();
            var VideoDTO = {
                Id: $(this).find("#item_VideoId").val(),
                Title: $(this).find("#item_Title").val(),
                Description: $(this).find("#item_Description").val(),
                ThumbnailURL: $(this).find("#item_ThumbnailURL").val()
            };

            if (typeof window.fbAsyncInit != 'undefined') {
                window.fbAsyncInit(VideoDTO.Id, VideoDTO.Title, VideoDTO.Description, VideoDTO.ThumbnailURL, Form);
            }

            ShareToSocialMedia(VideoDTO, Form);

            var AIVideo = {
                AutoImportedVideoId: $("#item_AutoImportedVideoId").val(),
                Title: $("#item_Title").val(),
                URL: $("#item_URL").val(),
                EmbedId: $("#item_EmbedId").val(),
                VideoId: $("#item_VideoId").val(),
                Description: $("#item_Description").val(),
                ThumbnailURL: $("#item_ThumbnailURL").val(),
                IsShared: true
            };

            $.ajax({
                method: "post",
                contentType: "application/json",
                data: '{"AutoImportedVideo":' + JSON.stringify(AIVideo) + ',"CategoryId":' + SelectedCategoryId + '}',
                url: "/AutoImportedVideos/Edit/" + AIVideo.AutoImportedVideoId,
                success: function () {
                    Form.parents("tr").remove();
                    Form.find(".AjaxLoader").hide();
                },
                complete: function () {
                    Form.parents("tr").remove();
                    Form.find(".AjaxLoader").hide();
                }
            });
            return false;
        });
    });
</script>
<script src="~/Scripts/SocialSharingScript.js"></script>
<div id="fb-root"></div>