@model VdoValley.Models.Video

@{
    ViewBag.Title = "Submit Video";
}

<h2>Submit Video</h2>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script>
    $(function () {
        $("#Title").keyup(function () {

            var tokens = $(this).val().split(" ");
            var tags = [];

            $(tokens).each(function (key, value) {
                var tag = {
                    Name:value
                };
                tags.push(tag);
            });
                        
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetTags", "Tags")",
                data: JSON.stringify(tags),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    handleData(response);
                },
                error: function (xhr, status, error) {
                    handleData(xhr.responseText);
                }
            });
        });

        function handleData(data) {
            console.log(data);
        }

        $(".active").click(function (e) {
            e.preventDefault();
            $(this).remove();
        });

    });

    
</script>

<div ng-app="">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", ng_model = "name" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

<style>
    .nav-pills li a {
        background-color:lightgray;
    }
</style>
<ul class="nav nav-pills">
    <li class="active"><a href="#" style="background-color: #EEEEEE;padding:5px;color:grey;">Home</a></li>
    <li class="active"><a href="#" style="background-color: #EEEEEE;padding:5px;color:grey;">One</a></li>
    <li class="active"><a href="#" style="background-color: #EEEEEE;padding:5px;color:grey;">Two</a></li>
	<li class="active"><a href="#" style="background-color: #EEEEEE;padding:5px;color:grey;">Grayed</a></li>
</ul>
<ul class="pull-right"><li><a href="#">Pulled Right</a></li></ul>
<ul class="pull-right"><li><a href="#">Pulled Right</a></li></ul>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
