@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @{
        List<VdoValley.Models.Role> roles = new List<VdoValley.Models.Role>();
    }
    @foreach (var role in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelRole => role.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { RoleName = role.Name }) |
                @Html.ActionLink("Details", "Details", new { RoleName = role.Name }) |
                @Html.ActionLink("Delete", "Delete", new { RoleName = role.Name }) |
            </td>
        </tr>
    }

</table>
